extends layout

block layout-content
  .container-fluid.View.WelcomeView

    .container-fluid
      .row.Banner.text-center
        .col-2
          div.h1 👑 
        .col-8
          div.h1 Victory Sweepstakes
        .col-2
          div.h1 👑 

    .container-fluid.mt-1
      .row.text-center(style="display:grid; color:black;")
        h3 Will you be the Next
      .row.text-center(style="display:grid; color:black;")
        h3 Winner?
    .container-fluid.text-center.mt-2
      .row
        h2.enter-title Ⓔⓝⓣⓔⓡ ⓣⓞ ⓦⓘⓝ
      .row
        h1.enter-title $ 5,000.00
    .container-fluid.timeBox.mt-3.mb-2
      .row.text-center(style="display:grid; color:black;")
        h2.time#time
    .container-fluid
      .row
        form(class="form-enter")
              .row
                #error
                  if error
                      p.text-danger Error!!!
                - var h1Classes = ['h3', 'mb-3', 'font-weight-normal', 'text-center']
                h1(class=h1Classes style="color:gold;") Fill In Form To Enter
              //- Input Email
              .row.m-1
                // label( for="inputEmail" class="sr-only") Email Address
                input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus).emailField
              //- Input Phone
              .row.m-1
                // label(for="inputPhone" class="sr-only") Phone
                input(type="phone" name="phone" id="inputPhone" class="form-control mt-1" placeholder="Phone" required).phoneField
              .row.m-1
                //- Complete form button
                - var buttonClass=['btn', 'btn-lg', 'btn-block', 'mt-3'];
                button.submit(class=buttonClass type="button")  Confirm Entry
              .row
                label(for="checkbox" style="font-size:small; margin:5px;")
                  input(type="checkbox", name="checkboxname", data-parameter="valid" value="value" style="margin-right:3px;" required).agreeCheckbox
                  | Over the age of 18
              .row
                - var pClasses=['mt-4', 'mb-1', 'text-white', 'text-center'];
                p(class=pClasses) © 2022
        
  link(rel='stylesheet', href='/stylesheets/index.css', type='text/css')
  script(src="/javascripts/index.js")